<div class="form">
  <mat-card class="card">
    <mat-card-title>Add book</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input
            [(ngModel)]="registerData.isbn"
            type="text"
            matInput
            placeholder="ISBN of book"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.author"
            type="text"
            matInput
            placeholder="Author/s of book"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.name"
            type="text"
            matInput
            placeholder="Name book"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.names"
            type="text"
            matInput
            placeholder="Sections names of book"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.pages"
            type="number"
            matInput
            placeholder="Pages of book"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="registerData.price"
            type="number"
            matInput
            placeholder="Price of book"
            required
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="registerBook()" class="button" mat-raised-button>
        Add book
      </button>
    </mat-card-actions>
  </mat-card>
</div>
